<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.test.functionlibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <!-- Jpush的核心区域 -->
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.test.functionlibrary.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION"/> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>
        <!--TOD:meiyizhi 友盟 的app_key-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="UMENG_KEY"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID"/>
    </application>

</manifest>
